.app {
  --pitch-black: #000000;
  --black: #121213;
  --white: #ffffff;
  --green: #538d4e;
  --yellow: #b59f3b;
  --grey: #3a3a3c;
  --light-grey: #818384;
  --lightest-grey: #d3d6da;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.7s;
}

.dark {
  --background-default: var(--black);
  --full-match: var(--green);
  --partial-match: var(--yellow);
  --no-match: var(--grey);
  --border-default: var(--grey);
  --border-active: var(--light-grey);
  --text: var(--white);
  --nav-accent: var(--grey);
  --nav-main: var(--light-grey);
  --key-color: var(--light-grey);
  --highlight1: var(--lightest-grey);
  background-color: var(--background-default);
}

.light {
  --background-default: var(--white);
  --full-match: var(--green);
  --partial-match: var(--yellow);
  --no-match: var(--light-grey);
  --border-default: var(--light-grey);
  --border-active: var(--grey);
  --text: var(--black);
  --nav-accent: var(--light-grey);
  --nav-main: var(--grey);
  --key-color: var(--lightest-grey);
  --highlight1: var(--pitch-black);
  background-color: var(--background-default);
}

.nogame {
  height: 100%;
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
}

.navbar {
  width: 100%;
  text-align: center;
  position: relative;
  padding-block: 15px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--nav-accent);
}

.navbar > .header {
  display: flex;
  justify-content: center;
}

.navbar > .actions {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
  height: 100%;
}

.action {
  border: none;
  outline: none;
  display: flex;
  cursor: pointer;
  background-color: transparent;
  color: var(--nav-main);
  transition: all 0.7s;
}

.action:hover {
  color: var(--nav-accent);
  transform: scale(1.2) rotate(360deg);
}

.action.highlight {
  --highlight2: var(--nav-main);
}

.highlight {
  animation-name: highlight;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

.appear {
  translate: 0 -20px;
  opacity: 0;
  animation-name: appear;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.wordlegrid {
  flex-direction: column;
}

.wordlegrid,
.word {
  display: flex;
  gap: 5px;
}

.word.invalid {
  animation-name: shake;
  animation-duration: 0.3s;
}

.character {
  display: grid;
  place-items: center;
  transition: all 2s;
  font-weight: bolder;
  color: var(--text);
  border-width: 2px;
  border-style: solid;
  border-color: var(--border-default);
  text-transform: uppercase;
  padding: 5px;
  box-sizing: border-box;
}

.character.extra-small {
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
}

.character.small {
  width: 50px;
  height: 50px;
  font-size: 1.6rem;
}

.character.medium {
  width: 60px;
  height: 60px;
  font-size: 2rem;
}

.character.large {
  width: 70px;
  height: 70px;
  font-size: 2.4rem;
}
.character.extra-large {
  width: 80px;
  height: 80px;
  font-size: 2.8rem;
}

.character.green,
.character.yellow,
.character.grey {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: reveal;
}

.character.green:nth-child(2),
.character.yellow:nth-child(2),
.character.grey:nth-child(2) {
  animation-delay: 0.2s;
}
.character.green:nth-child(3),
.character.yellow:nth-child(3),
.character.grey:nth-child(3) {
  animation-delay: 0.4s;
}
.character.green:nth-child(4),
.character.yellow:nth-child(4),
.character.grey:nth-child(4) {
  animation-delay: 0.6s;
}
.character.green:nth-child(5),
.character.yellow:nth-child(5),
.character.grey:nth-child(5) {
  animation-delay: 0.8s;
}
.character.green:nth-child(6),
.character.yellow:nth-child(6),
.character.grey:nth-child(6) {
  animation-delay: 1s;
}

.character.green {
  --background: var(--full-match);
  --border: var(--full-match);
}

.character.yellow {
  --background: var(--partial-match);
  --border: var(--partial-match);
}

.character.grey {
  --background: var(--no-match);
  --border: var(--no-match);
}

.character.lightgrey {
  --background: var(--key-color);
  --border: var(--key-color);
  background-color: var(--background);
  border-color: var(--border);
}

.character.blank {
  border-color: transparent;
  background-color: transparent;
}

.character.typed {
  border-color: var(--border-active);
  animation-name: pop;
  animation-duration: 0.1s;
}

.character.rounded {
  border-radius: 10%;
}

.keyboard {
  display: flex;
  width: 545px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.keyboard > .character {
  flex-basis: 9.175%;
}

.keyboard > .character.green {
  background-color: var(--full-match);
  border-color: var(--full-match);
}

.keyboard > .character.yellow {
  background-color: var(--partial-match);
  border-color: var(--partial-match);
}

.keyboard > .character.grey {
  background-color: var(--no-match);
  border-color: var(--no-match);
}

.keyboard > .character.green,
.keyboard > .character.yellow,
.keyboard > .character.grey {
  animation-name: none;
}

.keyboard > .character.typed {
  animation-name: pop;
  animation-duration: 0.1s;
  animation-delay: 0s;
}

.keyboard > .character:nth-child(20),
.keyboard > .character:nth-child(28) {
  flex-basis: 14.2%;
}

.keyboard > .character.rounded:nth-child(20),
.keyboard > .character.rounded:nth-child(28) {
  border-radius: 5%;
}

.message {
  padding: 5px 10px;
  position: fixed;
  margin: 50px;
  border-radius: 2px;
  bottom: 0;
  font-weight: 500;
  opacity: 1;
  background-color: var(--text);
  color: var(--background-default);
  transition: all 0.3s;
}

.loading {
  display: flex;
}

.loading > div {
  height: 15px;
  width: 20px;
  margin: 2px;
  background-color: var(--border-default);
  animation-name: grow;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.loading > div:nth-child(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  animation-delay: 0.2s;
}

.loading > div:nth-child(3) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  animation-delay: 0.4s;
}

.message.hidden {
  opacity: 0;
  bottom: -20px;
}

@keyframes reveal {
  0% {
    background-color: var(--background-default);
    border-color: var(--border-default);
    transform: rotateX(0deg);
  }
  45% {
    transform: rotateX(90deg);
  }
  50% {
    background-color: var(--background-default);
    border-color: var(--border-default);
    transform: rotateX(90deg);
  }
  55% {
    background-color: var(--background);
    border-color: var(--border);
  }
  100% {
    background-color: var(--background);
    border-color: var(--border);
    transform: rotateX(0deg);
  }
}

@keyframes pop {
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shake {
  20% {
    transform: translateX(-12px);
  }
  40% {
    transform: translateX(12px);
  }
  60% {
    transform: translateX(-6px);
  }
  80% {
    transform: translateX(6px);
  }
}

@keyframes grow {
  50% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes highlight {
  50% {
    transform: scale(2);
    color: var(--highlight1);
  }
  100% {
    transform: scale(1);
    color: var(--highlight2);
  }
}

@keyframes appear {
  100% {
    translate: 0 0;
    opacity: 1;
  }
}
